@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

.header {
  background: url("https://cdn.prod.website-files.com/67061df890aa3a22852e80c7/67061df890aa3a22852e80db_hero%20ribbon.png");
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center center;
}